body {
    background-color: rgb(123, 130, 138);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #9eafc4;
}

#title {
    color: white;
    margin: 8% 10% 5% 10%;
    text-shadow: 5px 5px 3px rgb(36, 36, 36); 
}

h1 {
    text-align: center;
    font-size: 60px;
}

h2 {
    text-align: center;
    font-size: 3em;
}
h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 10px 10px 10px;
}

#icon {
    margin: 0px 20px 0px 20px;
}

.jumbotron {
    text-align: center;
    min-height: 100px;
    padding: 15px 15px 15px 15px;
    box-shadow: 5px 5px 3px rgb(36, 36, 36); 
    background: rgba(244, 244, 244, 0.8);
}

.btn{
    font-size: 14px;
}

#arrow {
    height: 20px;
    width: 30px;
    margin: 20px 10px 20px 10px;

}
